[project]
	state = active
[access "refs/*"]
	owner = group Administrators
	create = group doubleshot maintainers
	push = group doubleshot maintainers
	label-Code-Review = -2..+2 group doubleshot maintainers
	label-Verified = -1..+1 group doubleshot maintainers
	submit = group doubleshot maintainers
